@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: url(assets/list.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.custom-tranform {
  transform: translateX(-50%);
}

.custom-nav {
  display: flex;
  align-items: center;
  position: unset;
  gap: 3rem;
}

@media (max-width: 768px) {
  .custom-nav-div{
    display: none;
  }
  .custom-nav{
    display: none;
  }
  .custom-nav-div[data-expanded="true"]{
    display: block;
  }
  .custom-nav[data-expanded="true"] {
    display: flex;
    width: 90%;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
    position: absolute;
    flex-direction: column;
    z-index: 9999;
    padding: 0%;
    background-color: var(--clr-text);
    border-radius: 0.5rem;
    gap: 1rem;
  }
}

.background_img{
  background-image: url(assets/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-250px;
  background-position-x:center;
  background-attachment: fixed;
  height: 850px;
}

.background_img_play{
  background-image: url(assets/Polygon.png);
  background-repeat: no-repeat;
  background-position: 55%;
  background-size: 40%;
}

.lineHeight{
  line-height: 3.5rem;
}