@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--clr-primary:#545BE8;
--clr-nav:#FFFFFF;
--clr-secondary:#1F398A;
}
.nav-clr{
  background-color:var(--clr-nav);
}
.button-clr-primary{
  background-color: var(--clr-primary);
}
.button-clr-secondary{
  background-color: var(--clr-secondary);
}
.text-clr-primary{
  color: var(--clr-primary);
}
.border-clr-primary{
  border: 1px solid var(--clr-primary);
}
.custom-img {
  background-image: url(assets/list.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.custom-tranform {
  transform: translateX(-50%);
}

.custom-nav {
  display: flex;
  align-items: center;
  position: unset;
  gap: 3rem;
}

@media (max-width: 768px) {
  .custom-nav-div{
    display: none;
  }
  .custom-nav{
    display: none;
  }
  .custom-nav-div[data-expanded="true"]{
    display: block;
  }
  .custom-nav[data-expanded="true"] {
    display: flex;
    width: 90%;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
    position: absolute;
    flex-direction: column;
    z-index: 9999;
    padding: 0%;
    background-color: var(--clr-text);
    border-radius: 0.5rem;
    gap: 1rem;
  }
}

.background_img{
  background-color: #F5F5F5;
}

.background_img_play{
  background-image: url(assets/Polygon.svg);
  background-repeat: no-repeat;
  background-position-x: 60%;
  background-position-y:center ;
  background-size: 40%;
  background-color: #F0C932;
}

.lineHeight{
  line-height: 3.5rem;
}