@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: url(./Asserts/list.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}

.custom-tranform {
  transform: translateX(-50%);
}

.custom-nav {
  display: flex;
  align-items: center;
  position: unset;
  gap: 3rem;
}

.custom-nav[data-expanded="true"] {
  display: flex;
  width: 90%;
  left: 50%;
  top:8%;
  transform: translateX(-50%);
  position: absolute;
  flex-direction: column;
  z-index: 9999;
  padding: 0%;
  background-color: var(--clr-text);
  border-radius: 0.5rem;
  gap:1rem;
}

